/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo básico para o corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #E2DFDA;
}

/* Estilos para o cabeçalho */
header {
    background-color: #7D893D;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

nav a:hover {
    text-decoration: underline;
}

/* Contêiner para centralizar o conteúdo e definir a largura */
.container {
    width: 80%;
    margin: auto;
}

/* Estilos para seções */
section {
    margin: 20px 0;
}

/* Estilo para a seção de produtos */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaço entre os itens */
    justify-content: space-between;
}

.product {
    background: #E7BCC5;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: calc(33.333% - 20px); /* Ajusta a largura para 3 itens por linha */
    margin-bottom: 20px;
}

.product img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.product p {
    color: #666;
    font-size: 1.1em;
    font-weight: bold;
}

/* Estilos para o rodapé */
footer {
    background-color: #E2DFDA;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Ajuste de responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .product {
        width: calc(50% - 20px); /* Ajusta a largura para 2 itens por linha em telas menores */
    }

    nav a {
        display: block;
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .product {
        width: 100%; /* Ajusta a largura para 1 item por linha em telas muito pequenas */
    }

    header h1 {
        font-size: 1.8em;
    }
}
